# --- Unity project (Cirmos) ---
/UnityJatek/Cirmos/[Ll]ibrary/
/UnityJatek/Cirmos/[Tt]emp/
/UnityJatek/Cirmos/[Oo]bj/
/UnityJatek/Cirmos/[Bb]uild/
/UnityJatek/Cirmos/[Bb]uilds/
/UnityJatek/Cirmos/[Ll]ogs/
/UnityJatek/Cirmos/[Uu]serSettings/
/UnityJatek/Cirmos/[Mm]emoryCaptures/
/UnityJatek/Cirmos/[Rr]ecordings/

# IDE/Editor
/.vs/
/.vscode/
/.idea/
/UnityJatek/Cirmos/*.csproj
/UnityJatek/Cirmos/*.sln
/UnityJatek/Cirmos/*.user
/UnityJatek/Cirmos/*.unityproj
/UnityJatek/Cirmos/*.pidb
/UnityJatek/Cirmos/*.suo
/UnityJatek/Cirmos/*.tmp
/UnityJatek/Cirmos/*.svd

# OS szemét
.DS_Store
Thumbs.db
